@model Achilles.Acme.Content.Models.ContentBaseItems.IContentBase
<div id="content-publishing">
    <fieldset class="collapsible">
        <legend>
            <a>Publishing Settings</a>
        </legend>
        <div class="form-item">
            <label>
                <input name="published" class="edit-published" type="checkbox" value="@Model.IsPublished" />
                Published
            </label>
        </div>
        <div class="form-item">
            <label>
                <input name="sticky" class="edit-sticky" type="checkbox" value="@Model.IsSticky" />
                Set to top of lists
            </label>
        </div>
    </fieldset>
</div>