@using Achilles.Acme.Content.Models
@using Achilles.Acme.Content.ViewModels
@model IContentViewModel
<div id="content-publishing">
    <fieldset class="collapsible">
        <legend>
            <a>Publishing Settings</a>
        </legend>
        <div class="form-item">
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
        </div>
    </fieldset>
</div>